html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Rasa', serif;
    background-image: url("images/background.png");
    background-size: 1440px 900px;
    height: 2800px;
}
a {
    text-decoration: none;
    color: gray;
}
.header {
    height: 30px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
    display: grid;
    padding: 0px 0px 0px 0px;
    grid: "logo spacer aboutme";
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    position: fixed;

}
.logo {
    border: 2px solid black;
    padding: 2px;
    border-radius: 2px;
}
.aboutme {
    font-weight: normal;
}
.presentation h1 {
    text-emphasis: none;
    font-weight: normal;
    font-size: 42px;
}
#heading2 {
    font-size: 35px;
}
#imwill {
    font-weight: bold;
}
.presentation {
    width: 650px;
    height: 300px;
    text-align: left;
    margin: 0px 300px 0px 410px;
    padding: 244px 0px;
}
.page1 {
    justify-content: center;
    height: 700px;
    width: 100%;
}
.highlightcomp {
    background-color: #90C978;
    border-radius: 5px;
    color: white;
    font-style: italic;
    padding: 0px 3px;
}
.highlightcomp:hover {
    background-color: transparent;
    text-shadow: 0px 0px 2px black;
}